extends layout

block content
  h1= title
  p Welcome to #{title}
  | Hey, check out
  a(href="/http-request-printer")  this page
  br
  | Text area
  a(href="/text-form")  here
  br
  | Test java server
  a(href="/test-jserver")  here
