extends layout

block content
    h1 Welcome to #{title}
    .row
        .col.s6
            .card.hoverable
                .card-image
                    img(src='images/Fuji.jpg')
                    span.card-title Fuji
                .card-content
                    p
                        | My name is Nina.
                        | I'm learning how to code.


            // Grey navigation panel

        .col.s6
            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title My projects
                .card-action
                    a(href='/my-projects') my projects

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title My GitHub

                .card-action
                    a(href='https://github.com/ninageek') The new one
                    a(href='https://github.com/Never2l8') The old one

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Contact me

                .card-action
                    a(href='https:/t.me/NinaGeek') Telegram
                    a(href='#') E-mail










