doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src = '/js/materialize.js')
  body
    block content
