doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src = '/js/materialize.js')
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/site.webmanifest')
        link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
        meta(name='apple-mobile-web-app-title' content='NinaGeek')
        meta(name='application-name' content='NinaGeek')
        meta(name='msapplication-TileColor' content='#00aba9')
        meta(name='theme-color' content='#ffffff')


  body

     header
         nav.blue-grey.darken-1b
           .nav-wrapper
             a.brand-logo.my-logo(href='/') NinaGeek



     main
        block content








