doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src = '/js/materialize.js')
  body

     header
         nav.blue-grey.darken-1b
           .nav-wrapper
             a.brand-logo.my-logo(href='/') NinaGeek



     main
        block content








