extends layout

block content
    h1 Welcome to #{title}

    .row
        .col.s6
            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title HTTP request printer
                    p
                        | Description
                        |
                .card-action
                    a(href='/http-request-printer') Click here to try

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Text Parser
                    p
                        | A simple text parser that counts the number of symbols, words, and sentences in the text.
                        |
                .card-action
                    a(href='/text-form') Click here to try

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Test Java Server
                    p
                        | Description
                        |
                .card-action
                    a(href='/test-jserver') Click here to try

        .col.s6
            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title String Checker
                    p
                        | Description
                        |
                .card-action
                    a(href='/string-checker') Click here to try

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Euler's Number
                    p
                        | Description
                        |
                .card-action
                    a(href='/eulers-number') Click here to try

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Image Rotation
                    p
                        | Description
                        |
                .card-action
                    a(href='/image-transformation') Click here to try