extends layout

block content
    h1 Welcome to #{title}

    .row
        .col.s6
            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title HTTP request printer
                    p
                        | Description
                        |
                .card-action
                    a(href='/http-request-printer') This is a link

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Text Parser
                    p
                        | Description
                        |
                .card-action
                    a(href='/text-form') This is a link

            .card.hoverable.blue-grey.darken-1
                .card-content.white-text
                    span.card-title Test Java Server
                    p
                        | Description
                        |
                .card-action
                    a(href='/test-jserver') This is a link

